Repository Lodin/rx-collection: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:src -- --fix, yarn run lint:spec -- --fix, eslint --fix

.lintstagedrc:

{
  "src/**/*.ts": ["yarn run lint:src -- --fix", "git add"],
  "spec/**/*.ts": ["yarn run lint:spec -- --fix", "git add"],
  "config/**/*.js": ["eslint --fix", "git add"]
}

build(dependencies): update dependencies
  package.json
  yarn.lock
Due: none

docs: add initial documentation
  README.md
Due: none

docs: improve style and fix minor mistakes
  README.md
Due: none

docs: add SubjectMap description
  README.md
Due: none

docs: change all lists to iterators and add [Symbol.iterator] method
  README.md
Due: none

feat(core): add SubjectMap
  spec/SubjectMap.spec.ts
  src/SubjectMap.ts
Due: yarn run lint:src -- --fix, yarn run lint:spec -- --fix

docs: remove "weak" collections - their usage with rxjs has no sense
  README.md
Due: none

build(tslint): disable "match-default-export-name" rule
  tslint.json
Due: none

feat(observable): add "ofCollection" static operator
  spec/observable/ofCollection.spec.ts
  src/add/observable/ofCollection.ts
  src/observable/ofCollection.ts
Due: yarn run lint:src -- --fix, yarn run lint:spec -- --fix

refactor(observable): move types of observable collection of observables to separate file
  src/observable/ofCollection.ts
  src/typings.d.ts
Due: yarn run lint:src -- --fix

refactor(observable): add observable collection inner types
  src/observable/ofCollection.ts
  src/typings.d.ts
Due: yarn run lint:src -- --fix

feat(operators): add "filterCollection" operator
  src/operator/filterCollection.ts
Due: yarn run lint:src -- --fix

refactor(operator): simplify & clean up "filterCollection" module
  src/operator/filterCollection.ts
Due: yarn run lint:src -- --fix

feat(operator): add adding "filterCollection" operator on Observable's prototype
  src/add/operator/filterCollection.ts
Due: yarn run lint:src -- --fix

test(operator): add tests for "filterCollection" operator
  spec/operator/filterCollection.spec.ts
Due: yarn run lint:spec -- --fix

refactor(operator): move callback type to common typings & clean up "filterCollection" module
  src/operator/filterCollection.ts
  src/typings.d.ts
Due: yarn run lint:src -- --fix

refactor(operator): move getting keys and values of object to a separate function
  src/operator/filterCollection.ts
  src/utils/getObjectKeysAndValues.ts
Due: yarn run lint:src -- --fix

refactor(operator): optimize using the map iterator
  src/operator/filterCollection.ts
Due: yarn run lint:src -- --fix

feat(operator): add "findInCollection" operator
  src/operator/findInCollection.ts
Due: yarn run lint:src -- --fix

refactor(operator): move all filtering functions to separate modules
  src/operator/filterCollection.ts
  src/operator/helpers/filterArrayCollectionHelper.ts
  src/operator/helpers/filterMapCollectionHelper.ts
  src/operator/helpers/filterObjectCollectionHelper.ts
  src/operator/helpers/filterSetCollectionHelper.ts
Due: yarn run lint:src -- --fix

feat(operator): add separate filtering methods to reduce resulting bundle size
  src/add/operator/filterArrayCollection.ts
  src/add/operator/filterMapCollection.ts
  src/add/operator/filterObjectCollection.ts
  src/add/operator/filterSetCollection.ts
  src/operator/filterArrayCollection.ts
  src/operator/filterMapCollection.ts
  src/operator/filterObjectCollection.ts
  src/operator/filterSetCollection.ts
Due: yarn run lint:src -- --fix

build(tslint): disable "mocha-no-side-effect-code" rule
  tslint.json
Due: none

test(operator): move "filterCollection" tests to test helper functions
  spec/operator/filterCollection.spec.ts
  spec/operator/utils/filterCollectionTestHelpers.ts
Due: yarn run lint:spec -- --fix

test(operator): add tests for separate filter functions
  spec/operator/filterArrayCollection.spec.ts
  spec/operator/filterMapCollection.spec.ts
  spec/operator/filterObjectCollection.spec.ts
  spec/operator/filterSetCollection.spec.ts
Due: yarn run lint:spec -- --fix

test: fix linter issues
  spec/SubjectMap.spec.ts
  spec/observable/ofCollection.spec.ts
  spec/operator/filterCollection.spec.ts
  spec/operator/utils/filterCollectionTestHelpers.ts
Due: yarn run lint:spec -- --fix

style: fix linter issues
  src/SubjectMap.ts
  src/observable/ofCollection.ts
  src/operator/filterCollection.ts
  src/typings.d.ts
Due: yarn run lint:src -- --fix

refactor(operator): move helpers for "findInCollection" operator to separate files
  src/operator/findInCollection.ts
  src/operator/helpers/findInArrayCollectionHelper.ts
  src/operator/helpers/findInMapCollectionHelper.ts
  src/operator/helpers/findInObjectCollectionHelper.ts
  src/operator/helpers/findInSetCollectionHelper.ts
  src/operator/helpers/nothing.ts
Due: yarn run lint:src -- --fix

feat(operator): add separate "findIn~" operators
  src/operator/findInArrayCollection.ts
  src/operator/findInMapCollection.ts
  src/operator/findInObjectCollection.ts
  src/operator/findInSetCollection.ts
Due: yarn run lint:src -- --fix

style(tests): remove unnecessary whitespaces
  spec/operator/filterCollection.spec.ts
Due: yarn run lint:spec -- --fix

feat(operator): add adding "findIn~" operators to Observable prototype
  src/add/operator/findInArrayCollection.ts
  src/add/operator/findInCollection.ts
  src/add/operator/findInMapCollection.ts
  src/add/operator/findInObjectCollection.ts
  src/add/operator/findInSetCollection.ts
Due: yarn run lint:src -- --fix

test(operator): add tests for "findIn~" operators
  spec/operator/findInArrayCollection.spec.ts
  spec/operator/findInCollection.spec.ts
  spec/operator/findInMapCollection.spec.ts
  spec/operator/findInObjectCollection.spec.ts
  spec/operator/findInSetCollection.spec.ts
  spec/operator/utils/findInCollectionTestHelpers.ts
Due: yarn run lint:spec -- --fix

refactor(observable): move all helper function to separate files
  src/observable/helpers/ofArrayCollectionHelper.ts
  src/observable/helpers/ofMapCollectionHelper.ts
  src/observable/helpers/ofObjectCollectionHelper.ts
  src/observable/helpers/ofSetCollectionHelper.ts
  src/observable/ofCollection.ts
  src/typings.d.ts
Due: yarn run lint:src -- --fix

feat(observable): add separate "of~Collection" operators
  src/add/observable/ofArrayCollection.ts
  src/add/observable/ofMapCollection.ts
  src/add/observable/ofObjectCollection.ts
  src/add/observable/ofSetCollection.ts
  src/observable/ofArrayCollection.ts
  src/observable/ofMapCollection.ts
  src/observable/ofObjectCollection.ts
  src/observable/ofSetCollection.ts
Due: yarn run lint:src -- --fix

fix(observable): remove unnecessary "call" using
  src/observable/ofArrayCollection.ts
  src/observable/ofCollection.ts
  src/observable/ofMapCollection.ts
  src/observable/ofObjectCollection.ts
  src/observable/ofSetCollection.ts
Due: yarn run lint:src -- --fix

test(observable): move checkCollectionElements function to separate module
  spec/observable/ofCollection.spec.ts
  spec/observable/utils/ofCollectionTestHelpers.ts
Due: yarn run lint:spec -- --fix

test(observable): add tests for "of~Collection" static operators
  spec/observable/ofArrayCollection.spec.ts
  spec/observable/ofMapCollection.spec.ts
  spec/observable/ofObjectCollection.spec.ts
  spec/observable/ofSetCollection.spec.ts
Due: yarn run lint:spec -- --fix

docs: add description of separate methods & remove "reverseCollection"
  README.md
Due: none

refactor(operator): rename "~CheckCallback" types to "~ForEachCallback"
  src/operator/filterArrayCollection.ts
  src/operator/filterCollection.ts
  src/operator/filterMapCollection.ts
  src/operator/filterObjectCollection.ts
  src/operator/filterSetCollection.ts
  src/operator/findInArrayCollection.ts
  src/operator/findInCollection.ts
  src/operator/findInMapCollection.ts
  src/operator/findInObjectCollection.ts
  src/operator/findInSetCollection.ts
  src/operator/helpers/filterArrayCollectionHelper.ts
  src/operator/helpers/filterMapCollectionHelper.ts
  src/operator/helpers/filterObjectCollectionHelper.ts
  src/operator/helpers/filterSetCollectionHelper.ts
  src/operator/helpers/findInArrayCollectionHelper.ts
  src/operator/helpers/findInMapCollectionHelper.ts
  src/operator/helpers/findInObjectCollectionHelper.ts
  src/operator/helpers/findInSetCollectionHelper.ts
  src/typings.d.ts
Due: yarn run lint:src -- --fix

feat(operator): add "forEachInCollection" operator
  src/add/operator/forEachInCollection.ts
  src/operator/forEachInCollection.ts
  src/operator/helpers/forEachInArrayCollectionHelper.ts
  src/operator/helpers/forEachInMapCollectionHelper.ts
  src/operator/helpers/forEachInObjectCollectionHelper.ts
  src/operator/helpers/forEachInSetCollectionHelper.ts
Due: yarn run lint:src -- --fix

feat(operator): add separate "forEachIn~" operators
  src/operator/forEachInArrayCollection.ts
  src/operator/forEachInMapCollection.ts
  src/operator/forEachInObjectCollection.ts
  src/operator/forEachInSetCollection.ts
Due: yarn run lint:src -- --fix
