Repository Lodin/rx-collection: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:src -- --fix, yarn run lint:spec -- --fix, eslint --fix

.lintstagedrc:

{
  "src/**/*.ts": ["yarn run lint:src -- --fix", "git add"],
  "spec/**/*.ts": ["yarn run lint:spec -- --fix", "git add"],
  "config/**/*.js": ["eslint --fix", "git add"]
}

refactor(operator): rename "~ForEachCallback" types to "~CheckTypes" (they return boolean) and add new "~ForEachCallback" types that return void
  src/operator/filterArrayCollection.ts
  src/operator/filterCollection.ts
  src/operator/filterMapCollection.ts
  src/operator/filterObjectCollection.ts
  src/operator/filterSetCollection.ts
  src/operator/findInArrayCollection.ts
  src/operator/findInCollection.ts
  src/operator/findInMapCollection.ts
  src/operator/findInObjectCollection.ts
  src/operator/findInSetCollection.ts
  src/operator/forEachInCollection.ts
  src/operator/helpers/filterArrayCollectionHelper.ts
  src/operator/helpers/filterMapCollectionHelper.ts
  src/operator/helpers/filterObjectCollectionHelper.ts
  src/operator/helpers/filterSetCollectionHelper.ts
  src/operator/helpers/findInArrayCollectionHelper.ts
  src/operator/helpers/findInMapCollectionHelper.ts
  src/operator/helpers/findInObjectCollectionHelper.ts
  src/operator/helpers/findInSetCollectionHelper.ts
  src/typings.d.ts
Due: yarn run lint:src -- --fix

fix(operator): add subscription for "forEachIn~" helpers' inner observables to make helpers work
  src/operator/helpers/forEachInArrayCollectionHelper.ts
  src/operator/helpers/forEachInMapCollectionHelper.ts
  src/operator/helpers/forEachInObjectCollectionHelper.ts
  src/operator/helpers/forEachInSetCollectionHelper.ts
Due: yarn run lint:src -- --fix

test(operator): add tests for "forEachInCollection" operator
  spec/operator/forEachInCollection.spec.ts
  spec/operator/utils/forEachInCollectionTestHelpers.ts
Due: yarn run lint:spec -- --fix

feat(operator): add adding "forEachIn~" operators to Observable prototype
  src/add/operator/forEachInArrayCollection.ts
  src/add/operator/forEachInMapCollection.ts
  src/add/operator/forEachInObjectCollection.ts
  src/add/operator/forEachInSetCollection.ts
Due: yarn run lint:src -- --fix

test(operator): add tests for separate "forEachIn~" operators
  spec/operator/forEachInArrayCollection.spec.ts
  spec/operator/forEachInMapCollection.spec.ts
  spec/operator/forEachInObjectCollection.spec.ts
  spec/operator/forEachInSetCollection.spec.ts
Due: yarn run lint:spec -- --fix

fix(operator): type error
  src/operator/helpers/nothing.ts
Due: yarn run lint:src -- --fix

refactor(operator): make SubjectMap exported as default
  spec/SubjectMap.spec.ts
  src/SubjectMap.ts
Due: yarn run lint:src -- --fix, yarn run lint:spec -- --fix

feat: add index file
  src/index.ts
Due: yarn run lint:src -- --fix

build(dependencies): update "tslint-config-poetez" dependency
  package.json
  yarn.lock
Due: none

docs: add badges to readme
  README.md
Due: none

test(operator): add test for "forEachInCollection" operator to throw an error if the collection type is wrong
  spec/operator/forEachInCollection.spec.ts
Due: yarn run lint:spec -- --fix

test(utils): add tests for "getObjectKeysAndValues" function
  spec/utils/getObjectKeysAndValues.spec.ts
Due: yarn run lint:spec -- --fix

style(observable): fix tests description
  spec/observable/ofMapCollection.spec.ts
  spec/observable/ofObjectCollection.spec.ts
  spec/observable/ofSetCollection.spec.ts
Due: yarn run lint:spec -- --fix
